@model CheeprToKeepr.Models.Service

@{
    ViewData["Title"] = "Delete";
}

<form method="post" asp-action="DeletePost">
    <input asp-for="ServicesID" hidden />
    <div class="border p-3">
        <div class="form-group row" style="color:darkblue">
            <h2 class="pl-3">Delete Service</h2>
        </div>
        @*<div class="col-4">
            <label asp-for="ServicesCategoryID"></label>
            <input asp-for="ServicesCategoryID" disabled class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="VehicleID"></label>
            <input asp-for="VehicleID" disabled class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="VendorID"></label>
            <input asp-for="VendorID" disabled class="form-control">
        </div>*@
        <div class="col-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" disabled class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="ServiceDateTime"></label>
            <input asp-for="ServiceDateTime" disabled class="form-control">
        </div>
        <div class="col-4">
            <label asp-for="VehicleMilesAtService"></label>
            <input asp-for="VehicleMilesAtService" disabled class="form-control">
        </div>
        <div class="form-group row">
            <div class="col-8 offests-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-danger w-150" value="Delete" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-succes w-150">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>
