@model IEnumerable<CheeprToKeepr.Models.ServiceCategory>

<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Service Categories</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="ServiceCategory" asp-action="Create">Add new Category</a>
        </div>
    </div>
    <br />

    @if(Model.Count() > 0) { 
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Cateogry Name
                    </th>
                    <th>
                        Changes
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td width="50%">@item.ServiceType</td>
                    <td width="50%">
                        <div class="w-100 btn-group"role="group">
                            <a class="btn btn-primary" asp-controller="ServiceCategory" asp-action="Update" asp-route-id="@item.ServiceCategoryID" mx-1>Update</a>
                            <a class="btn btn-danger" asp-controller="ServiceCategory" asp-action="Delete" asp-route-id="@item.ServiceCategoryID" mx-1>Delete</a>
                        </div>
                    </td>
                </tr>
                } 
            </tbody>
        </table>
    }else
    {
        <p>No Expenses exist yet</p>
    }

</div>
<footer>
    <div class="row">
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="Services" asp-action="Index">Services List</a>
        </div>
        @*<div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Expenses" asp-action="Index">Expenses</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Vendor" asp-action="Index">Vendors</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">Menu Page</a>

        </div>*@
    </div>
</footer>