@{
    ViewData["Title"] = "Home Page";
}

<div style="color:darkblue;text-align:center" class="jumbotron bg-secondary">
    <h1>Cheapr To Keepr</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to the "Cheapr To Keepr" Vehicle Tracking Application.</h1>
    @*<p>Login links will go here</p>*@
</div>

<footer>
    <div class="row text-center">
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Expenses" asp-action="Index">Expenses</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Services" asp-action="Index">Services</a>

        </div>
        <div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Vendor" asp-action="Index">Vendors</a>

        </div>
        @*<div class="col-2">
            <a class="btn btn-success" asp-area="" asp-controller="Home" asp-action="Index">MenuPage</a>

        </div>*@
    </div>
</footer>