@{
    ViewData["Title"] = "Home Page";
}

<div style="color:darkblue;text-align:center" class="jumbotron bg-secondary">
    <h1>Cheapr To Keepr</h1>
</div>
<div class="text-center">
    <h1 class="display-4">Welcome to the "Cheapr To Keepr" Vehicle Tracking Application.</h1>
    <p>Login links will go here</p>
</div>
