@model CheeprToKeepr.Models.ViewModels.ExpensesViewModel

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row" style="color:darkblue">
            <h2 class="pl-3">Create Expense</h2>
        </div>
        <div class="col-4">
            <label asp-for="Expense.Name"></label>
            <input asp-for="Expense.Name" class="form-control" id="Name" placeholder="Name">
            <span asp-validation-for="Expense.Name" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Expense.ExpenseDateTime"></label>
            <input asp-for="Expense.ExpenseDateTime" class="form-control">
            <span asp-validation-for="Expense.ExpenseDateTime" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Expense.Cost"></label>
            <input asp-for="Expense.Cost" class="form-control" id="Cost" placeholder="Cost">
            <span asp-validation-for="Expense.Cost" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Expense.ExpenseCategoryID"></label>
            <select asp-for="Expense.ExpenseCategoryID" asp-items="@Model.CategoryList" class="form-control"></select>
            <span asp-validation-for="Expense.ExpenseCategoryID" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Expense.VehicleID"></label>
            <select asp-for="Expense.VehicleID" asp-items="@Model.VehicleList " class="form-control"></select>
            <span asp-validation-for="Expense.VehicleID" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-150" value="Create Expense" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-150">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>