@model IEnumerable<CheeprToKeepr.Models.ExpenseCategory>

<h1>Expenses</h1>
<div class=" container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Expense Categories</h2>
        </div>
        <div class="col-6 text-right">
            <a class="btn btn-primary" asp-controller="ExpenseCategory" asp-action="Create">Add new Category</a>
        </div>
    </div>
    <br />

    @if(Model.Count() > 0) { 
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Cateogry Name
                    </th>
                    <th>Changes</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var item in Model)
                {
                <tr>
                    <td width="50%">@item.ExpenseType</td>
                    <td width="50%">
                        <div class="w-100 btn-group"role="group">
                            <a class="btn btn-primary" asp-controller="ExpenseCategory" asp-action="Update" asp-route-id="@item.ExpenseCategoryID" mx-1>Update</a>
                            <a class="btn btn-danger" asp-controller="ExpenseCategory" asp-action="Delete" asp-route-id="@item.ExpenseCategoryID" mx-1>Delete</a>
                        </div>
                    </td>
                </tr>
                } 
            </tbody>
        </table>
    }else
    {
        <p>No Expenses exist yet</p>
    }

</div>
<footer>
    <div class="col-6 text-right">
        <a class="btn btn-primary" asp-controller="Expenses" asp-action="Index">Expenses List</a>    </div>
</footer>