@model CheeprToKeepr.Models.Vehicle

@{
    ViewData["Title"] = "Create";
}

<form method="post" asp-action="Create">
    <div class="border p-3">
        @*validation summary can be "All" to create validation div at top of form*@
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row" style="color:darkblue">
            <h2 class="pl-3">Register Vehicle</h2>

        </div>
        <div class="col-4">
            <label asp-for="UserID"></label>
            <input asp-for="UserID" class="form-control" id="UserID" placeholder="Select Owner ID">
            @*<input asp-for="UserID" hidden="hidden" class="form-control" id="UserID" placeholder="Select Owner">*@
            <span asp-validation-for="UserID" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Year"></label>
            <input asp-for="Year" class="form-control" id="Year" placeholder="Year">
            <span asp-validation-for="Year" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="MakeName"></label>
            <input asp-for="MakeName" class="form-control" id="MakeName" placeholder="Make">
            <span asp-validation-for="MakeName" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="ModelName1"></label>
            <input asp-for="ModelName1" class="form-control" id="ModelName1" placeholder="Model">
            <span asp-validation-for="ModelName1" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="ModelName2"></label>
            <input asp-for="ModelName2" class="form-control" id="ModelName2" placeholder="Optional">
            <span asp-validation-for="ModelName2" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="VehicleMileage"></label>
            <input asp-for="VehicleMileage" class="form-control" id="VehicleMileage" placeholder="Input Vehicle Mileage">
            <span asp-validation-for="VehicleMileage" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="TireMileage"></label>
            <input asp-for="TireMileage" class="form-control" id="TireMileage" placeholder="Input Tire  Mileage">
            <span asp-validation-for="TireMileage" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="MilesPerGallon"></label>
            (Esitmated)
            <input asp-for="MilesPerGallon" class="form-control" id="MilesPerGallon" placeholder="Input Avg. MPG">
            <span asp-validation-for="MilesPerGallon" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-150" value="Register Vehicle" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-150">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

@*@section Script{
    @{
        <partial name="_ValidatonScriptPartial" />
}
}*@



@*<form method="post" asp-action="Create">
        <div class="border p-3">
            <div class="form-group row">
                <h2 class="text-black-50 pl-3">Register Vehicle</h2>

            </div>
            <div class="row">
                <div class="col-12">
                    <div class="form-group row">
                        <div class="col-4">
                            <label asp-for="UserID"></label>
                            <input asp-for="UserID" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label asp-for="Year"></label>
                            <input asp-for="Year" class="form-control" />
                        </div>
                        <div class="col-4">
                            <label asp-for="MakeName"></label>
                            <input asp-for="MakeName" class="form-control" />

                        </div>
                        <div class="col-4">
                            <label asp-for="ModelName1"></label>

                        </div>
                        <div class="col-4">
                            <label asp-for="ModelName2"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="VehicleMileage"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="TireMileage"></label>
                        </div>
                        <div class="col-4">
                            <label asp-for="MilesPerGallon"></label>
                            Estimated
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-9">
                            <input asp-for="UserID" class="form-control" />
                        </div>
                        <div class="col-9">
                            <input asp-for="Year" class="form-control" />
                        </div>
                        <div class="col-9">
                            <input asp-for="MakeName" class="form-control" />
                        </div>
                        <div class="col-9">
                            <input asp-for="ModelName1" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="ModelName2" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="VehicleMileage" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="TireMileage" class="form-control" />
                        </div>
                        <div class="col-4">
                            <input asp-for="MilesPerGallon" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-8 offests-2 row">
                            <div class="col">
                                <input type="submit" class="btn btn-info w-150" value="Register Vehicle" />
                            </div>
                            <div class="col">
                                <a asp-action="Index" class="btn btn-danger w-150">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>*@