@model CheeprToKeepr.Models.Vendor
@{
    ViewData["Title"] = "Update";
}

<form method="post" asp-action="Update">
    <input asp-for="VendorID" hidden />
    <div class="border p-3">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group row" style="color:darkblue">
            <h2 class="pl-3">Edit Vendor</h2>

        </div>
        <div class="col-4">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control" id="Year" placeholder="Year">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="City"></label>
            <input asp-for="City" class="form-control" id="MakeName" placeholder="Make">
            <span asp-validation-for="City" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="State"></label>
            <input asp-for="State" class="form-control" id="ModelName1" placeholder="Model">
            <span asp-validation-for="State" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="PostalCode"></label>
            <input asp-for="PostalCode" class="form-control" id="ModelName2" placeholder="Optional">
            <span asp-validation-for="PostalCode" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" id="VehicleMileage" placeholder="Input Vehicle Mileage">
            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Email"></label>
            <input asp-for="Email" class="form-control" id="TireMileage" placeholder="Input Tire  Mileage">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="Website"></label>
            <input asp-for="Website" class="form-control" id="MilesPerGallon" placeholder="Input Avg. MPG">
            <span asp-validation-for="Website" class="text-danger"></span>
        </div>
        <div class="col-4">
            <label asp-for="VendorCategoryID"></label>
            <input asp-for="VendorCategoryID" class="form-control" id="UserID" placeholder="Select Owner ID">
            <span asp-validation-for="VendorCategoryID" class="text-danger"></span>
        </div>
        <div class="form-group row">
            <div class="col-8 offset-2 row">
                <div class="col">
                    <input type="submit" class="btn btn-info w-150" value="Update Vendor" />
                </div>
                <div class="col">
                    <a asp-action="Index" class="btn btn-danger w-150">Back to List</a>
                </div>
            </div>
        </div>
    </div>
</form>

